body{
	background-color: #191015;
}

.bigBox{
  /*background:#33202A;*/
  height: 80%;
}

.header{
  margin-top: 0;
}

.titleBox{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  padding: 2% 0;
  height: auto;
  width:100%;
  background-color: #F7AEF8;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.title{
  margin:auto;
  color: #191015;
}


.buttons{
  background: #ECC209;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.filterButton{
  background: #F9DC5C;
  color: #191015;
  padding: 1%;
  border-radius: 20%;
  border:0;
  margin: 2% auto;
}

.randomGrid{
	margin-left: 50px;
	margin-bottom: 50px;
}

.randomItem{
	float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:20px;
  width: 22vw;
  min-width: 245px;
}
.container{
	position: relative;
	width: 100%;
	-moz-animation: fadein 3s; /* Firefox */
	-webkit-animation: fadein 3s; /* Safari and Chrome */
	-o-animation: fadein 3s; /* Opera */
}
.randomImage{
	opacity: 1;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.hover{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.hoverHeading{
  padding: 1%;
	font-size:16px;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: #8B2F96;
  color: #FBD9FC;
	opacity: 0.7;
}
.hoverText{
  padding: 1%;
	font-size: 14px;
	color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #8B2F96;
  color: #FBD9FC;
  opacity: 0.7;
}

.container:hover .hover{
  opacity: 1;
}

.container:hover img{
  opacity: 0.7;
}

/*fade in animation*/
@keyframes fadein {
    from {
        opacity:0;
        margin-top: 50px;
    }
    to {
        opacity:1;
        margin-top: 0px;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
        margin-top: 50px;
    }
    to {
        opacity:1;
        margin-top: 0px;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        margin-top: 50px;
    }
    to {
        opacity:1;
        margin-top: 0px;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        margin-top: 50px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}