body{
	background-color: #000;
}

.container{
	width: 96%;
	height: 100%;
	margin: 1%;
	padding: 1%;
	background-color: #33202A;
}

.header{
	width: 80%;
	height: 64px;
	padding:2%;
	display: flex;
	flex-direction: row;
	justify-content: top;
	align-items: center;
	text-align: center;
}

.homeButton{
	height: 64px;
	width: 64px;
	margin: 0;
	background: #F9DC5C;
	padding: 1%;
}

.homeButtonImg{
	width: 64px;
	height: 64px;
}

.title{
	margin: 0, 50%, 0, 50%;
	padding: 1%;
	width: 8%;
	background-color: #F7AEF8;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	text-align: center;
}

.title: h1{
	margin:0;
}

.paddingBox{
	width: 64px;
	height: 64px;
}


.bodyText{
	background-color: #8B2F96;
	color: #FBD9FC;
	padding: 1%;
}